
#joymoves-title {
  font-family: Calligraffitti;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100px;
}

#nextStepButton {
  color: #F3EFE3;
  background: #1F1E1D;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  transition-property: all;
  transition-duration: 100ms;
}

#nextStepButton:hover:not([disabled]) {
  width: 172px;
  height: 56px;
  color: #1F1E1D;
  background: #F6CF46;

  transition-property: all;
  transition-duration: 100ms;
}

#nextStepButton:disabled {
  color: #F3EFE3;
  background: #1F1E1D57;
}


.toggle-box {
  box-sizing: border-box;

  width: 40px;
  height: 20px;

  background: #DFDACD;
  border: 1px solid #1F1E1D;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.toggle-box .toggle-handle {
  box-sizing: border-box;

  position: relative;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -2px;

  background: #F3EFE3;
  border: 1px solid #1F1E1D;
  border-radius: 50%;

  transition-property: left, background;
  transition-duration: 300ms, 300ms;
}

.toggle-box .toggle-handle-clicked {
  box-sizing: border-box;

  position: relative;
  width: 24px;
  height: 24px;
  top: -2px;
  left: 20px;

  background: #1F1E1D;
  border: 1px solid #1F1E1D;
  border-radius: 50%;

  transition-property: left, background;
  transition-duration: 300ms, 300ms;
}
