.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#joymoves-title {
  font-family: Calligraffitti;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100px;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: #F3E4B4;
  gap: 10px 10px;
}

.instructions {
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  /* identical to box height */
  text-align: center;
}

.main-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 10px;
  height: 40vh;
  padding: 20px 0 20px 0;
}

#button-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  height: 110px;
}

button {
  color: #F3EFE3;
  background: #1F1E1D;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  transition-property: all;
  transition-duration: 100ms;
}

button:hover:not([disabled]) {
  width: 172px;
  height: 56px;
  color: #1F1E1D;
  background: #F6CF46;

  transition-property: all;
  transition-duration: 100ms;
}

button:disabled {
  color: #F3EFE3;
  background: #1F1E1D57;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.toggle-switch .toggle-box {
  box-sizing: border-box;

  width: 40px;
  height: 20px;

  background: #DFDACD;
  border: 1px solid #1F1E1D;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.toggle-switch .toggle-box .toggle-handle {
  box-sizing: border-box;

  position: relative;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -2px;

  background: #F3EFE3;
  border: 1px solid #1F1E1D;
  border-radius: 50%;

  transition-property: left, background;
  transition-duration: 300ms, 300ms;
}

.toggle-switch .toggle-box .toggle-handle-clicked {
  box-sizing: border-box;

  position: relative;
  width: 24px;
  height: 24px;
  top: -2px;
  left: 20px;

  background: #1F1E1D;
  border: 1px solid #1F1E1D;
  border-radius: 50%;

  transition-property: left, background;
  transition-duration: 300ms, 300ms;
}
