.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@font-face {
  font-family: StylishCalligraphy;
  src: url("../StylishCalligraphy.ttf") format("truetype");
}

#joymoves-title {
  font-family: StylishCalligraphy;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

#label-container {
  background-color: rosybrown;
}

#standing-time-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: #F3E4B4;
  gap: 10px 10px;
}

.main-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 10px;
  height: 40vh;
  padding: 20px 0 20px 0;
}

#button-div {
  margin-top: 20px;
}

button {
  background: #1F1E1D;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  color: #F3EFE3;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}